
# Regions & AWS
AWS_REGION=eu-central-1

# Messaging
REDIS_URL=redis://redis:6379/0
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
KAFKA_BOOTSTRAP=redpanda:9092
SCHEMA_REGISTRY_URL=http://redpanda:8081

# DB
POSTGRES_DB=geodata
POSTGRES_USER=app
POSTGRES_PASSWORD=apppw

# MinIO
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123

# Fetch
DEMO_TOKEN=demo

# Index EDL (optional)
EDL_TOKEN=
EDL_TOKEN_REFRESH_URL=
EDL_CLIENT_ID=
EDL_CLIENT_SECRET=

# WAL-G (Demo → MinIO)
WALG_S3_ENDPOINT=http://minio:9000
WALG_S3_ACCESS_KEY_ID=minioadmin
WALG_S3_SECRET_ACCESS_KEY=minioadmin123
WALG_S3_BUCKET=wal-g-backups
WALG_S3_FORCE_PATH_STYLE=true
