
ENV=prod
BASE=geo.dburkard.de
PARENT_ZONE=dburkard.de
EMAIL=you@dburkard.de
NS=geodata
NS_INFRA=infra
NS_IDP=identity
CHARTS_DIR=../charts
HETZNER_API_TOKEN=REDACTED
VAULT_ADDR=https://vault.example.local:8200
VAULT_TOKEN=s.XXXX
MINIO_ENDPOINT=http://minio.geodata.local:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin123
NASA_EDL_TOKEN=changeme
SMTP_FROM=noreply@dburkard.de
SMTP_HOST=smtp.protonmail.ch
SMTP_PORT=587
SMTP_TLS=starttls
